$whiteColor: white;
$FlatMidNightBlue: #2c3e50;
$FlatRedColor: #E74C3C;
$FlatDarkRedColor: #C0392B;
$FlatGreenColor: #2ECC71;
$FlatDarkGreenColor: #27AE60;
$FlatYellowColor: #F1C40F;
$FlatSmokeWhiteColor: #ECF0F1;
$FlatGrayColor: #bdc3c7;
$FlatBlackColor: #313131;
$FlatBlackColor2: #333333;

$main-bg: $FlatRedColor;
